In [4]:
import pandas as pd
import os
import glob

In [19]:

joined_files = os.path.join("./Sales_Data", "*")
joined_list = glob.glob("./Sales_Data/*")
df = pd.concat(map(pd.read_csv, joined_list), ignore_index = True)

df.to_csv("yearly_data.csv", index=False)

In [31]:
df = pd.read_csv("yearly_data.csv")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#### QUESTION 1 What was the best month ofr sales ? How much was earned that month ?

In [59]:
df["month"] = df['Order Date'].str[0:2]  #add month column to make it easier

df = df.dropna(how = 'all') #dorp nan values
df = (df[df['Quantity Ordered'] != 'Quantity Ordered'] )   #clean the data by removing rows which has column names as values

df['gains'] = df['Quantity Ordered'].astype('int') * df['Price Each'].astype('float') #add gain column

sumdf = df.groupby('month')['gains'].sum()#for each month sum the values of the gains 
highest_gains = sumdf.max() 
best_month = sumdf.idxmax()
print(f"The best month was {best_month} with gains of over {highest_gains}")

The best month was 12 with gains of over 4613443.34

#### QUESTION 2: What city sold the most products ?

In [92]:

df['city'] = df['Purchase Address'].str.split(', ', expand=True)[1] #na9asmou l'adresse to get the city li rahi fel west
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'] )
prod_sum = df.groupby('city')['Quantity Ordered'].sum() #for eeach city ndirou lea somme 
                                                        #ta3 quantity li ba3etha for each product bash nel9aw quantite totale
highest_products = prod_sum.max()
best_city = prod_sum.idxmax()
print(f"The best city was {best_city} with {highest_products} products sold")

The best city was San Francisco with 50239 products sold

#### QUESTION 3: At what time should we display adevertisements ?

In [94]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

C:\Users\Riad\AppData\Local\Temp\ipykernel_17500\3072535395.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'])

In [141]:
df['hour'] = df['Order Date'].dt.hour
hour_counts = df['hour'].value_counts()
best_hour = hour_counts.idxmax()
best_hour_count = hour_counts.max()
print(f"The best hour to advertise is around {best_hour} because {best_hour_count} sells happened at that time")

The best hour to advertise is around 19 because 12905 sells happened at that time

#### QUESTION 4: What products are most often sold together?

In [133]:
sold_together = df.groupby('Order Date')['Product'].agg(list)
filtered_df = sold_together[sold_together.apply(len) > 1]
most_sold_together = filtered_df.value_counts().head(10)
print(f"the items that are sold together the most are: ")
most_sold_together
# df.groupby('Order Date')
# df.head(50)

the items that are sold together the most are:

Product
[iPhone, Lightning Charging Cable]                    654
[Google Phone, USB-C Charging Cable]                  615
[AAA Batteries (4-pack), Lightning Charging Cable]    378
[AAA Batteries (4-pack), AA Batteries (4-pack)]       368
[AA Batteries (4-pack), AAA Batteries (4-pack)]       367
[AA Batteries (4-pack), Lightning Charging Cable]     360
[AAA Batteries (4-pack), USB-C Charging Cable]        355
[AA Batteries (4-pack), USB-C Charging Cable]         349
[USB-C Charging Cable, AAA Batteries (4-pack)]        349
[USB-C Charging Cable, USB-C Charging Cable]          344
Name: count, dtype: int64

#### QUESTION 5: What product sold the most and why ?

In [146]:
product_counts = df.groupby('Product')['Quantity Ordered'].sum()
product_counts
most_sold = product_counts.idxmax()
amount = product_counts.max()
print(f"The product that was sold the most is {most_sold} which was sold {amount} times because they are cheap and are needed alot")
# df[df['Product'] == most_sold].value_counts()

The product that was sold the most is AAA Batteries (4-pack) which was sold 31017 times